body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
}

.screen-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20px;
    user-select: none;
    margin-top: 20px;
    border-radius: 5px;
    gap: 20px; /* Adds space between flex children */
    background-color: #0005a7;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    height: 74vh;
}

.screen-image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.task-list-title {
    font-size: 24px;
    width: 100%;
    max-width: 20vw;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    user-select: none;
    color:#0005a7;
}

.tasks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 20vw;
    max-width: 20vh;
    height: 100%;
    user-select: none;
    border-right: solid;
    background-color: #a5e1cf;
    min-width: 20vw;
}

.task-box {
    width: 20vw;
    max-width: 80%;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

.add-new-task {
    height: 20%;
    width: 25vh;
    display: flex;
    flex-direction: columns;
    justify-content: space-around;
    margin-top: 10px;

    height: auto;
    border: none; /* Remove the border */
    box-shadow: none; /* Ensure no box shadow */
    outline: none; /* Remove the outline when focused */
    cursor: pointer; /* Change cursor to pointer */
    border-radius: 5px;
    background-color: #0005a7;
    color:  #a5e1cf;
}

.add-new-task:hover {
    border-radius: 5px;
    background-color: #a5e1cf;
    border: solid #0005a7;
    color:#0005a7;
}

.task-input-container {
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 5%;
    border: solid #0005a7;
    background-color: #0005a7;
}

.plus {
    padding: 10px;
    font-size: 20px;
}

.title-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* Ensures the space between items is distributed */
    text-align: center;
    font-size: 24px;
    border-radius: 5px;
    height: 20vh;
    padding: 0 10px; /* Add some padding for spacing */
    background-color: #a5e1cf;
}
.progress-bar-label {
    color:#0005a7;
}

.progress-bar-container {
    width: 50%;
}

progress {
    width: 100%;
    height: 50px;
    appearance: none; /* Removes default styling */
    border: solid #0005a7;
    border-radius: 5px;
}

progress::-webkit-progress-bar {
    background-color: #0005a7; /* Background color of the progress bar */

}

progress::-webkit-progress-value {
    background-color: #a5e1cf; /* Progress color */
    border-radius: 5px; /* Rounded corners for the progress fill */
}

progress::-moz-progress-bar {
    background-color: #0005a7; /* Progress color for Firefox */
    border-radius: 5px; /* Rounded corners */
}


.game-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
}

.money-count {
    width: 20%;
    padding: 20px;
    color:#0005a7;
}

.new-task-container {
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 5%;
    border: solid #0005a7;
    background-color: #0005a7;
}

.new-task-timer {
    margin-left: 10px; /* Optional: Add space between task name and timer */
    font-size: 18px; /* Adjust the font size as needed */
    color:#0005a7;
    background-color: #a5e1cf;
    border-radius: 5px;
    
}

.new-task-name {
    border-radius: 5px;
    color: #0005a7;
    background-color: #a5e1cf;
    padding:20px;
}


.task-name {
    width: 45%;
    padding: 10px;
    margin-right: 5px;
    border: #a5e1cf; /* Remove border */
    border-radius: 5px;
    outline: none; /* Remove outline when focused */
    box-shadow: none; /* Remove any box shadow */
    background-color: #a5e1cf; /* Change to transparent or remove if not needed */
    color:#0005a7;
}

.task-time {
    width: 50%;
    border: none; /* Remove border */
    border-radius: 5px;
    outline: none; /* Remove outline when focused */
    box-shadow: none; /* Remove any box shadow */
    background-color: #a5e1cf; /* Change to transparent or remove if not needed */
    color:#0005a7;
    padding: 10px;
}

.task-name::placeholder {
    color:#0005a7;
}

.task-time::placeholder {
    color:#0005a7;
}

.new-check-button {
    border: none;
    border-radius: 5px;
    background-color: #a5e1cf;
    color:#0005a7;
}
