body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.task-list-title {
    font-size: 24px;
    width: 20vw;
    max-width: 80%;
    background-color: #ffffff;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    user-select: none;
}


.tasks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    max-width: 20%;
    height: 100%;
    background-color: #f8f9fa;
    user-select: none;
}

.task-box {
    
    width: 20vw;
    max-width: 80%;
    background-color: #ffffff;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}

.screen-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: aquamarine;
    padding: 20px;
    user-select: none;
    margin-top: 20px;
    border-radius: 5px;
    gap: 20px; /* Adds space between flex children */
}

.title-box {
    display: flex;
    flex-direction: columns;
    background-color: #0215a3;
    text-align: center;
    font-size: 24px;
    margin: auto;
    font-weight: bold;
    border-radius: 5px;
    height: 20vh;
}

#gametitle {
    width: 30%;
    height: 80%;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    background-color: #0005a7;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    height: 70vh;
}

.screen-image {
    width: 65%;
    height: 40vh;
    border-radius: 5px;
}

.money-count {
    background-color: red;
}

