body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.tasks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    max-width: 20%;
    height: 100%;
    background-color: #f8f9fa;
}

.task-box {
    width: 20vw;
    max-width: 80%;
    background-color: #ffffff;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.screen-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: aquamarine;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    gap: 20px; /* Adds space between flex children */
}

.screen-title-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto; /* Ensure it only takes necessary height */
}

.title-box {
    background-color: #5fcf80;
    padding-top: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8f5e9;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    flex-grow: 1; /* Allows the screen to take up remaining space */
}

.screen-image {
    object-fit: cover;
    width: 100%;
    max-width: 250px;
    height: 40vh;
    border-radius: 5px;
}

.button-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Pushes buttons to the bottom */
    width: 100%;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    padding: 10px;
    background-color: #ff8c00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #ff7518;
}
